/* ## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
 .MainContainer{
    background-color: hsl(233, 47%, 7%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainContainer .Card{
    background-color: hsl(244, 38%, 16%);
    height: 70vh;
    width:70vw;
    display: flex;
    border-radius: 20px;

}
.MainContainer .Card .Content{
    width: 25vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   padding: 0 5em;
   gap: 2em;
}
.MainContainer .Card .Content h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    color: hsl(0, 0%, 100%);
}
.MainContainer .Card .Content h1 span {
  color:hsl(277, 64%, 61%);
}
.MainContainer .Card .Content p {
  color:  hsla(0, 0%, 100%, 0.75);
  font-family:'Lexend Deca', sans-serif; 
  font-weight: 400px;
  font-size: 15px
}

.RatingCard{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.RatingCard .Rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}
.RatingCard .Rating h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    color: hsl(0, 0%, 100%);
}
.RatingCard .Rating p{
 
color:  hsla(0, 0%, 100%, 0.75);
  font-family:'Lexend Deca', sans-serif; 
  font-weight: 400px;
  font-size: 15px

}

.MainContainer .Card .Poster{
    width: 40vw;
}

.MainContainer .Card .Poster img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100%;
}




/* Responsive Style Code */
@media screen and (max-width: 950px){

    .MainContainer{
        background-color: hsl(233, 47%, 7%);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .MainContainer .Card{
        background-color: hsl(244, 38%, 16%);
        height: 90vh;
        width:90vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        border-radius: 20px;
    
    }
    .MainContainer .Card .Content{
        width: 70vw;
        height: 55vh;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-flow: column;
       padding: 0.5em 2em;
       gap: 0.5em;
    }
   
    
    .RatingCard{
        margin-top: 10px;
        flex-direction: column;
        gap: 2px;
    }
    
    .MainContainer .Card .Poster{
        width: 90vw;
        height: 35vh;
    }
    
    .MainContainer .Card .Poster img{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 00px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 100%;
    }
    
}
